<ion-content class="contentLogin">
  <ion-img  text-center class="logoLogin"  [src]="logo"></ion-img>
  <ion-card class="cardFull"> 
         
      <ion-item>
             
          <ion-label stacked>Usuário</ion-label>
          <ion-input #usernameinput tabindex="0"  type="text" [(ngModel)]="username"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label stacked>Senha</ion-label>
          <ion-input  tabindex="1"  type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
      
        <ion-label stacked >{{messageError}}</ion-label>

        <div text-center margin-top>      
          <ion-button color="danger" tabindex="3"  margin-right (click)="signUp()">Registre-se</ion-button>
      
          <ion-button color="danger"  tabindex="2"  margin-right (click)="signIn()">Entrar</ion-button>
      
        </div>

    <ion-card-content>
     Caso não tenha um cadastro, clique em Registre-se e coloque seus dados básicos para ajudarmos em situações de feminicídio.  
    </ion-card-content>
  </ion-card>


 
</ion-content>


